

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  min-height: 4rem; /* Ajustar la altura del footer según sea necesario */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que el footer esté por encima de las tarjetas */
}

.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background, #ffffff);
  filter: url("#blob");
}

.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background, #ffffff);
  border-radius: 100%;
  animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s),
             bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}

.footer .content {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  background: var(--footer-background, #ffffff);
}

.footer .content a,
.footer .content p {
  color: #000000;
  text-decoration: none;
}

.footer .content b {
  color: white;
}

.footer .content p {
  margin: 0;
  font-size: 0.75rem;
}

.footer .content .image {
  width: 4rem;
  height: 4rem;
  background-size: cover;
  background-position: center;
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
